<%= form_for screen, :html => {:id => 'new-scr-form'} do |f| %>
  <% if screen.errors.any? %>
    <div id="error_explanations">
      <ul>
        <% screen.errors.full_messages.each do |errmsg| %>
          <li><% errmsg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Counter strike" %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.submit "Upload", class: "btn btn-primary btn-small" %>
<% end %>
