<div class="row-fluid">
  <div class="span4 well">
    <%= form_for @screen do |f| %>
      <%= field_set_tag 'Upload clip' do %>
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => "Counter strike" %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :image %>
        <%= f.file_field :image %>

        <%= f.submit "Upload", class: "btn btn-primary btn-large" %>
      <% end %>
    <% end %>
  </div>
</div>
