<% if user_signed_in? %>
  <div class="row">
    <aside class="col-lg-4">
      <div data-spy="affix" data-offset-top="140">
        <div class="box">
          <%= link_to following_user_path(@user) do %>
            <strong id="following"><%= @user.followed_users.count %> FOLLOWING</strong>
          <% end %>
          
          <%= link_to followers_user_path(@user) do %>
            <strong id="followers"><%= @user.followers.count %> FOLLOWERS</strong>
          <% end %>
        </div>

         <h3>About Me</h3><%= render 'follow_form' %>
         <% if @user.profile %>
           <h4><%= @user.profile.name %></h4>
         <% end %>

         <h3>Upcoming Events</h3>
       </div>
    </aside>

    <section class="col-lg-5 col-offset-1">
      <%= link_to "Upload New Clip", '#upload', id: "screen_up_btn" ,class: "btn btn-primary btn-large" %>
      <%= render :partial => 'screens/new', :locals => {:screen => Screen.new} %>

      <div class="polaroid">
        <% @user.screens.each do |scr| %>
          <%= content_tag(:p, scr.name) %>
          <%= image_tag scr.image.url(:midlarge) %>
        <% end %>
      </div>
      
      <div class="row">
          <h3>What your fellow gamers are uploading</h3>
          <% @feed_items.each do |fi|%>
            <%= image_tag fi.image.url(:midlarge) %>
          <% end %>
      </div>
    </section>
  </div>
<% end %>

