<%= content_for :page_title, 'Home - Game Clips' %>
<% if user_signed_in? %>
  <div class="row">
    <section class="col-lg-6">
      <div class="page-header">
        <%= link_to "Upload New Clip", '#upload', id: "new-scr-button" ,class: "btn btn-primary btn-large" %>
        <%= render :partial => 'screens/new', :locals => {:screen => Screen.new} %>
      </div>

      <div class="cycle-slideshow">
        <% current_user.screens.each do |scr| %>
          <%= image_tag scr.image.url, :style => "width:550px; height:350px;" %>
        <% end %>
      </div>
    </section>
 
    <aside class="col-lg-5 col-offset-1">
      <div class="page-header">
        <h3>What others are uploading</h3>
      </div>
    </aside>
  </div>
<% else %>
  <div class="row">
    <section class="col-lg-5 col-offset-1">
      <div class="page-header">
        <h1>Latest Clips</h1>
      </div>

      <div class="cycle-slideshow">
        <% latest_screens.each do |ls| %>
        <%= image_tag ls.image.url, :style => "width:500px; height:400px;" %>
        <% end %>
      </div>
    </section>
    
    <section class="col-lg-4 col-offset-2">
      <div class="page-header">
        <h1>The stage is set!</h1>
      </div>
      <%= render :partial => 'devise/registrations/new' %>
      <%= link_to "Sign up", '#sign_up', id: "frm-btn", class: "btn btn- btn-success " %> <h3>or</h3>
    

      <a data-toggle="modal" href="#signin" class="btn btn-primary">Sign In</a>

      <div class="modal fade in" id="signin">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
          <div class="modal-body">  
            <div class="row">
            <div class="col-lg-8 col-lg-offset4">
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <%= field_set_tag 'Sign in' do %>

                <%= f.label :email %>
                <%= f.email_field :email, :autofocus => true %>

                <%= f.label :password %>
                <%= f.password_field :password %>

                <% if devise_mapping.rememberable? -%>
                  <div><%= f.label :remember_me %> <%= f.check_box :remember_me %></div>
                <% end %>

                <%= f.submit "Sign in" , class: "btn btn-success btn-primary"%><br/>

                <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                <% end -%>
                <% end %>
              <% end %>
            </div>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </section>
  </div>
<% end %>
