<%= content_for :page_title, 'Sign in - Game Clips' %>

<div class="row">
  <div class="col-lg-4 well">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= field_set_tag 'Sign in' do %>
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.label :remember_me %> <%= f.check_box :remember_me %></div>
        <% end -%>

        <%= f.submit "Sign in" , class: "btn btn-success btn-primary"%>
      <% end %>
    <% end %>
  </div>
</div>

  <div class="row col-lg-2">
    <%= render "devise/shared/links" %>
  </div>
