<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" media="all" href="http://fonts.googleapis.com/css?family=Skranji:400,700|Oxygen:400,700" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="wrap">
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= content_tag :p, msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div id="push"><!--//--></div>
  </div>
      <%= render 'layouts/footer' %>
</body>
</html>
